<!DOCTYPE html>
<html ng-app="ContactApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>My Contact App 1411</title>
<script src="/TestHarness/assets/jslibs/angular.min.js"></script>
<script src="/TestHarness/assets/js/dummy_data_utf8_BOM.js"></script>
<script src="/TestHarness/assets/js/app.js"></script>
<link href="/TestHarness/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/TestHarness/assets/css/bootstrap-theme.min.css"
	rel="stylesheet">
</head>
<body>

	<div ng-controller='TimeCtrl'>
		<p>{{ clock | date:'HH:mm:ss'}}</p>
	</div>
	<div ng-controller="HeaderCtrl as head">
		<h3>{{head.appTitle}}</h3>
	</div>
	<h1>My Contact App</h1>
	<div class="container" ng-controller="ContactCtrl as ctrl">
		<div class="row">
			<ul class="list-group">
				<li class="list-group-item"
					ng-class="{active : ctrl.activatedIndex === $index}"
					ng-repeat="contact in ctrl.contacts"
					ng-click="ctrl.selectContact($index)"><span> {{
						contact.name.first + " " + contact.name.last }}</span></li>
			</ul>
		</div>

		<div class="row">
			<div class="media">
				<div class="media-left">
					<a href="#"> <img src="{{ctrl.selectedContact.picture.medium}}"></img>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{ ctrl.selectedContact.name.first +
						" " + ctrl.selectedContact.name.last }}</h4>
					<div>
						<p>
						<h6>Location</h6>
						</p>
						<p>{{ ctrl.selectedContact.location.street + " " +
							ctrl.selectedContact.location.city + " " +
							ctrl.selectedContact.location.state }}</p>
						<p>
						<h6>Phone</h6>
						</p>
						<p>{{ ctrl.selectedContact.phone }}</p>

					</div>
				</div>
			</div>
		</div>
	</div>
		<div ng-controller="FooterCtrl as foot">
				<h3>{{foot.appTitle}}</h3>
		</div>
	</div>
</body>
</html>